<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Login</h1>

  <ion-text *ngIf="loginError" color="danger">Login error, User or password is wrong </ion-text>

  <!-- User and password Inputs -->
  <ion-input label="Email" label-placement="floating" fill="outline" [(ngModel)]="email" [class.input-error]="loginError"></ion-input>
  <br>
  <ion-input label="Password" label-placement="floating" fill="outline" [(ngModel)]="password" [class.input-error]="loginError"></ion-input>
  <br>
  <!-- Login and forgot password Buttons -->
  <ion-button expand="block" color="warning" (click)="login()">Login</ion-button>
  <div class="forgotPass">
    <ion-button fill="clear">Forgot password?</ion-button>
  </div>
  
  <!-- New accont button -->
  <ion-button expand="block" class="newAccont" routerLink="/cadastro">New Accont</ion-button>
</ion-content>
