<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>INFORMAÇÕES</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ng-container *ngIf="tarefa">
    <h1 align="center"><b>{{tarefa.title}}</b></h1>
    <p align="center">{{tarefa.description}}</p>
    <br>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </ion-avatar>

      <ion-label>
        <strong>{{tarefa.manager}}</strong>
        <br>
      </ion-label>
    </ion-item>

    <br><br><br>
    <P>Acompanhe as etapas da sua tarefa!</P>
    <ion-list style="padding-right: 4%;">
      <ion-item *ngFor="let step of tarefa.steps; let i = index;">
        <ion-checkbox
          [(ngModel)]="step.completed"       
          (ionChange)="onStepToggle(step, i)" >{{step.name}}</ion-checkbox>
      </ion-item>
      <ion-item *ngIf="tarefa.steps.length === 0">
        <ion-label>Nenhuma etapa adicionada para esta tarefa.</ion-label>
      </ion-item>
    </ion-list>

    <ion-footer slot="fixed">
      <ion-item lines="none">
        <ion-label>
          <ion-note class="steps">
            {{ getCompletedStepsCount() }} / {{ getTotalStepsCount() }}
          </ion-note>
          <ion-progress-bar [value]="getCompletionPercentage() / 100"></ion-progress-bar>
        </ion-label>
      </ion-item>
    </ion-footer>
  </ng-container>

  <ng-container *ngIf="!tarefa && tarefaId">
    <p align="center">Carregando tarefa ou tarefa não encontrada...</p>
  </ng-container>
  <ng-container *ngIf="!tarefaId">
    <p align="center">Nenhum ID de tarefa fornecido para visualização.</p>
  </ng-container>
</ion-content>